<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>
                {{isInEditMode ? 'Update User' : 'Add User' }}
            </h1>

            <div class="card">
                <div class="card-body">
                    <form [formGroup]="userForm" (ngSubmit)="onUserAdd()">
                        <div class="form-group">
                            <label for="userName" id="userName">User Name</label>
                            <input type="text" class="form-control" formControlName="userName">
                        </div>
                        <div class="form-group">
                            <label for="userRole" id="userRole">User Role</label>
                            <select name="userRole" id="userRole" class="form-control" formControlName="userRole">
                                <option value="Candidate">Candidate</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                        <button mat-raised-button color="accent"
                        type="submit">
                            {{isInEditMode ? 'Update User' : 'Add User'}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
